# Python
*.py[co]

# Packages
*.egg-info/
build/
dist/

# Unit test / coverage reports
.coverage
cover/

# Project created files
inferhotspot.ini
census-block-interactions.tsv
web_log_queries*.txt
*.png
*.mp4
