{% extends "base.html" %}

{% block content %}
<div id="map-canvas"></div>
<form action="interaction/blocks" method="get">
  <label for="latitude">Latitude:</label>
  <input type="text" id="latitude" name="latitude" value="33.214563">
  <label for="longitude">Longitude:</label>
  <input type="text" id="longitude" name="longitude" value="-97.132874">
  <input type="submit" value="Find Interactions">
</form>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
  var map;
  var marker;

  function initialize() {
    var sw = new google.maps.LatLng({{ box[1] }}, {{ box[0] }});
    var ne = new google.maps.LatLng({{ box[3] }}, {{ box[2] }});
    var bounds = new google.maps.LatLngBounds(sw, ne);

    var mapOptions = {
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    map.fitBounds(bounds)

    // Box
    new google.maps.Polygon({
        paths: [
          new google.maps.LatLng({{ box[1] }}, {{ box[0] }}),
          new google.maps.LatLng({{ box[3] }}, {{ box[0] }}),
          new google.maps.LatLng({{ box[3] }}, {{ box[2] }}),
          new google.maps.LatLng({{ box[1] }}, {{ box[2] }}),
        ],
        map: map,
        clickable: false,
        strokeColor: '#000000',
        strokeOpacity: 0.5,
        strokeWeight: 3,
        fillOpacity: 0,
      });

    marker = new google.maps.Marker({
      position: bounds.getCenter(),
      map: map,
      draggable: true,
    });

    google.maps.event.addListener(map, 'click', function(event){
      marker.setPosition(event.latLng);
      document.getElementById("latitude").value=event.latLng.lat();
      document.getElementById("longitude").value=event.latLng.lng();
    });
    google.maps.event.addListener(marker, 'dragend', function(event){
      document.getElementById("latitude").value=event.latLng.lat();
      document.getElementById("longitude").value=event.latLng.lng();
    });

    // Set initial marker location
    document.getElementById("latitude").value=bounds.getCenter().lat();
    document.getElementById("longitude").value=bounds.getCenter().lng();
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% end %}
