{% extends "base.html" %}

{% block content %}
<div id="map-canvas"></div>
<label for="latitude">Latitude:</label>
<input type="text" id="latitude" name="latitude" placeholder="33.214563">
<label for="longitude">Longitude:</label>
<input type="text" id="longitude" name="longitude" placeholder="-97.132874">

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
  var map;
  var marker;

  function initialize() {
    var mapOptions = {
      zoom: 10,
      center: new google.maps.LatLng(33.214563,-97.132874),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    marker = new google.maps.Marker({
      position: new google.maps.LatLng(33.214563,-97.132874),
      map: map,
      draggable: true,
    });

    google.maps.event.addListener(marker, 'dragend', function(event){
      document.getElementById("latitude").value=event.latLng.lat();
      document.getElementById("longitude").value=event.latLng.lng();
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% end %}
