{% extends "base.html" %}

{% block content %}
<div id="map-canvas"></div>
<form action="interaction/blocks" method="get">
  <label for="latitude">Latitude:</label>
  <input type="text" id="latitude" name="latitude" value="33.214563">
  <label for="longitude">Longitude:</label>
  <input type="text" id="longitude" name="longitude" value="-97.132874">
  <input type="submit" value="Find Interactions">
</form>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
  var map;
  var marker;

  function initialize() {
    // Compute zoom level.
    // Source: http://stackoverflow.com/a/6055653/1988505
    var sw = new google.maps.LatLng({{ box[1] }}, {{ box[0] }});
    var ne = new google.maps.LatLng({{ box[3] }}, {{ box[2] }});
    var bounds = new google.maps.LatLngBounds(sw, ne);
    var pixelWidth = 500;
    var GLOBE_WIDTH = 256; // a constant in Google's map projection
    var west = sw.lng();
    var east = ne.lng();
    var angle = east - west;
    if (angle < 0) {
      angle += 360;
    }
    var zoom = Math.round(Math.log(pixelWidth * 360 / angle / GLOBE_WIDTH) / Math.LN2);

    var mapOptions = {
      zoom: zoom,
      center: bounds.getCenter(),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    marker = new google.maps.Marker({
      position: bounds.getCenter(),
      map: map,
      draggable: true,
    });

    google.maps.event.addListener(marker, 'dragend', function(event){
      document.getElementById("latitude").value=event.latLng.lat();
      document.getElementById("longitude").value=event.latLng.lng();
    });

    // Set initial marker location
    document.getElementById("latitude").value=bounds.getCenter().lat();
    document.getElementById("longitude").value=bounds.getCenter().lng();
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% end %}
