{% extends "base.html" %}

{% block content %}
<div id="map-canvas"></div>

<form method="get" name="interaction">
  <label for="latitude">Latitude:</label>
  <input type="text" id="latitude" name="latitude" value="{{ latitude }}">
  <label for="longitude">Longitude:</label>
  <input type="text" id="longitude" name="longitude" value="{{ longitude }}">
  <input type="submit" value="Find Interactions">
</form>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
  var map;
  var marker;

  function initialize() {
    {% if not blocks %}
    var sw = new google.maps.LatLng({{ box[1] }}, {{ box[0] }});
    var ne = new google.maps.LatLng({{ box[3] }}, {{ box[2] }});
    var bounds = new google.maps.LatLngBounds(sw, ne);
    alert('No interactions found.')
    {% else %}
    var bounds = new google.maps.LatLngBounds();
    {% end %}

    var mapOptions = {
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    // Box
    new google.maps.Polygon({
        paths: [
          new google.maps.LatLng({{ box[1] }}, {{ box[0] }}),
          new google.maps.LatLng({{ box[3] }}, {{ box[0] }}),
          new google.maps.LatLng({{ box[3] }}, {{ box[2] }}),
          new google.maps.LatLng({{ box[1] }}, {{ box[2] }}),
        ],
        map: map,
        clickable: false,
        strokeColor: '#000000',
        strokeOpacity: 0.5,
        strokeWeight: 3,
        fillOpacity: 0,
      });

    var source_latlng = new google.maps.LatLng({{ latitude }}, {{ longitude }})
    marker = new google.maps.Marker({
      position: source_latlng,
      map: map,
      draggable: true,
    });
    bounds.extend(source_latlng)

    google.maps.event.addListener(map, 'click', function(event){
      marker.setPosition(event.latLng);
      document.getElementById("latitude").value=event.latLng.lat();
      document.getElementById("longitude").value=event.latLng.lng();
      document.interaction.submit();
    });
    google.maps.event.addListener(marker, 'dragend', function(event){
      document.getElementById("latitude").value=event.latLng.lat();
      document.getElementById("longitude").value=event.latLng.lng();
      document.interaction.submit();
    });

    {% for census_id, shape, normalized_weight in blocks %}
      path = [
          {% for b_longitude, b_latitude in shape.geoms[0].exterior.coords %}
          new google.maps.LatLng({{ b_latitude }}, {{ b_longitude }}),{% end %}
        ]
      for (var i = 0; i < path.length; i++) {
        bounds.extend(path[i])
      }
      new google.maps.Polygon({
        paths: path,
        map: map,
        clickable: {% if source_id == census_id %}true{% else %}false{% end %},
        strokeColor: '#FF0000',
        strokeOpacity: 0.5,
        strokeWeight: 3,
        fillColor: '#FF0000',
        fillOpacity: {{ 0.1 + normalized_weight * 0.6 }}
      });
      {% end %}

      map.fitBounds(bounds)
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% end %}
